:host {
  display: inline-block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.profile-card {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: {
    left: auto;
    right: auto;
  }
  overflow: hidden;
  width: 100%;

  @media (min-width: 361px) {
    max-width: 260px;
  }

  &__info {
    background-color: var(--miles_secondary_four);
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 140px;
    padding: 1.2rem;
  }

  figure {
    aspect-ratio: 1/1;
    background-color: #ffffff;
    border-radius: 0.5rem;
    margin: 0 0 0.25rem 0;
    overflow: hidden;
    padding: 0;
    text-align: center;

    img {
      animation: fadeIn 1s cubic-bezier(0.46, 0.03, 0.05, 0.99);
      display: block;
      filter: grayscale(1);
      object-fit: cover;
      width: 100%;
      transition: transform 0.27s cubic-bezier(0.46, 0.03, 0.05, 0.99);
    }
  }

  .jobtitle {
    margin-bottom: 1rem;

    p {
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; /* number of lines to show */
      display: -webkit-box;
      line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .description {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
  }

  .location {
    margin-top: auto;
  }

p {
    color: var(--miles_primary_light);
    margin: 0;
  }
p#name 
  {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
