.has-hamburger span{display: none;}

/**********************
	Hamburger icon
**************/
.menu-toggle{
	border: 0;
	border-radius: 0;
	background-color: transparent;
	margin-left: auto;
	outline: none;
	padding-right: 0;
    &:hover {
		background-color: transparent;
    }	
	
}


// Hamburger and close icon animarion
 #nav-icon {
  margin-left: auto;
  margin-right: auto;
  width: 49px;
  height: 49px;
  position: relative;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0 0 28px rgba(0,0,0, 0.2);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  cursor: pointer;
  
  .fixed & {
  	background-color: white;
  	  	
  	//hack for mix-blend-mode background issue in Chrome 58+
    		
    @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { 
  	//	background-color: white;
  	}
  }
  
  
} 
#nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 25px;
  left: 12px;
  background: $miles-red;
  border-radius: 2px;
  opacity: 1;
  
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  
  .mega-menu-open & {
    background: $miles-red;
  }
  
  .fixed & {
  	background: black;
  	
  		.mega-menu-open & {background: $miles-red;}
  	
  	//hack for mix-blend-mode background issue in Chrome 58+
    		
    @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { 
  		background: $miles-red;
  	}
  }
}

#nav-icon span:nth-child(1) {
  top: 17px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 24px;
}

#nav-icon span:nth-child(4) {
  top: 31px;
}

// On click hamburger and close icon
.main-navigation .open-menu {
	#nav-icon span {

	}
	#nav-icon span:nth-child(1) {
  		top: 18px;
  		width: 0%;
  		left: 50%;
	}

	#nav-icon span:nth-child(2) {
  		-webkit-transform: rotate(45deg);
  		-moz-transform: rotate(45deg);
  		-o-transform: rotate(45deg);
  		transform: rotate(45deg);
	}

	#nav-icon span:nth-child(3) {
  		-webkit-transform: rotate(-45deg);
  		-moz-transform: rotate(-45deg);
  		-o-transform: rotate(-45deg);
  		transform: rotate(-45deg);
	}

	#nav-icon span:nth-child(4) {
  		top: 18px;
  		width: 0%;
  		left: 50%;
	}
}

@media screen and (max-width: $desktop ) {
	.main-navigation .primary-navigation {
		display: none;	
	}
	
}



/*===============================
  TURN ON MEGA MENU
==================================*/

.menu-topmenu {
	margin: 0;
	padding-left: 0;
}
.menu-topmenu .mega-menu-grid{
	display:grid;
	 grid-template-columns: repeat(1, auto);
	grid-gap: $base-margin * 2;
    column-gap: $base-margin * 2;
    row-gap: $base-margin * 2;
	

     @media (min-width: $mobile) {
        grid-template-columns: repeat(2, auto);
     }
    
    @media (min-width: $desktop) {
    	display: inline-grid;
        grid-template-columns: repeat(4, auto);
    	grid-gap: $base-margin * 6;
    	column-gap: $base-margin * 6;
    	row-gap: $base-margin * 6;
    }

}

.menu-topmenu > .menu-item {
    display: inline-block;
    margin-right: 1.5em;
    &:last-child{margin-right: 0;}
    & > a {
	    color: $miles-red;
	    font-size: 18px;
	    line-height: 1;	
	    &:hover {text-decoration: none;}
	    .open-menu &{color: $white;}
	}
		
	&.has-hamburger {	 // on add.has-hamburger in menu-item
	 	> a {	 
			@media (min-width: $tablet) {
				display: flex;
				align-items: center;
			}
       	 }
        
		.item-title{
			margin-right: 8px;
			@media (max-width: $tablet) {display: none}
		}
	}
	
}


.mega-menu-open, // turn of scroll when mega-menu is open.
#page.open-menu { 
	overflow: hidden;
}

.mega-menu-block { // closed
    position: absolute;
    top: 5em;
	left:0;
	right: 0;
	bottom: 0;
    opacity:0;
    height: 100vh;	
    z-index:110;	
    display: none;
    overflow-y: auto;
    padding: 0 20px;
    margin-left: 0;

    @media screen and (min-width: $tablet) {
      top: 8em;
      padding: 0 40px;
    }

    .sticky-menu &{
      top: 4.6em;
    }
    
    &.is-active { // open
		display: block;
		opacity:1;
	}

}
	
/*===============================
  MEGA MENU SUB MENUS 
==================================*/


.mega-menu-container,
.mega-menu-container__footer {
	padding-top: 3em;
	padding-bottom: 4em;

	ul {
		list-style: none;
		margin:0;
		padding-left:0;
	}
}

    
@keyframes widget-anim {
    
    0% {
		opacity: 0;
        transform: translateY(40px);
    }
        
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


.widget_nav_menu {
    opacity:0;
    margin-bottom: 1em;
    
    @media (min-width: $tablet) {margin-bottom: 1.5em;}

    	
	h3.widget-title {
    	margin: 0;
    	line-height: 42px;
    	color: white;
    	font-size: 20px;
    	font-weight: 600;
    	color: white;

    	
	}
	
    .menu-item > a {
    	color: $white;
    	line-height: 42px;
    	font-size: 20px;
    	-webkit-transition: all 120ms ease-in-out 0s;
        -moz-transition: all 120ms ease-in-out 0s;
        -o-transition: all 120ms ease-in-out 0s;
        transition: all 120ms ease-in-out 0s;
        text-decoration: none;
    	
    	&:hover {border-bottom: solid 1px $white;}
    }
    	
    .sub-menu {
    	display: flex;
    	flex-flow: wrap column; 
    	.menu-item {margin-left: 1em;}
    	.menu-item a {font-weight: normal;}
    	.menu-item:last-child > a { padding-bottom:0;}
    	
    }


    	
    
    @for $i from 1 through 4 {
  		&:nth-child(#{$i}) {  			
  		  	-webkit-animation: widget-anim 0.12s*$i forwards; /* Safari 4+ */
  			-moz-animation:    widget-anim 0.12s*$i forwards; /* Fx 5+ */
  			-o-animation:      widget-anim 0.12s*$i forwards; /* Opera 12+ */
  			animation:         widget-anim 0.12s*$i forwards; /* IE 10+, Fx 29+ */
  		}
	}
}




