a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: thin dotted $black;
	}

	&:hover,
	&:active {
		outline: 0;
	}
	.has-miles-red-background-color &,
	.has-black-background-color &,
	.has-dark-blue-background-color & {
	  color: white !important;
	  text-decoration: none;
	  @media (min-width: $desktop) {
	    font-size: 23px;
	  }
	  &:hover{
	    text-decoration: underline;
	  }
	}

}

a.fagblogg-thumbnail {
		color: $black;
		text-decoration: none;
		
		&:hover {color: $miles-red;}
}


//Others Nav Menus

.comment-navigation,
.posts-navigation,
.post-navigation {
	margin-top: $base-margin * 3;
	margin-bottom: $base-margin * 2;
	
	.single-menneskene &  {margin-top: 0;}

	// .site-main & {margin: 0 0 1.5em;}

	.nav-links {
		display: flex;
		max-width: 91.6666%;
		margin-right: auto;
		margin-left: auto;
		
		@media (min-width: $tablet) {max-width: 83.3333vw;}
		
		.single-menneskene & {
			background: url('image/arrow-back-red-1.svg') no-repeat left 8px;
			background-size: 27px;
			padding-left: 36px;	
			
			@media (min-width: $desktop) {max-width: 66.6667vw;}
		}
		
		
		.blog & {
		//	justify-content: space-between;	
		}
		
		.nav-previous {
			background: url('image/arrow-back-red-1.svg') no-repeat left 8px;
			background-size: 27px;
			padding-left: 36px;	
		}

		.nav-next {
			margin-left: auto;
			text-align: right;
			background: url('image/arrow-next-red.svg') no-repeat right 8px;
			background-size: 27px;
        	padding-right: 36px;
		}
		
		.nav-subtitle {display: none;} //omgår oversettelsene
		
		a {
		  text-decoration: none;
		  
		  &:hover {text-decoration: underline;}
		}
	}
}
