

.main-navigation {
	width: 100%;		
	display: flex;
	
	ul{
	 list-style: none;
	 margin:0;
	 padding-left: 0;
	}


	li {
		position: relative;

		&:hover > a,
		&.focus > a
		{
		//	color: $black;
			@include anim-transition (all, 200ms, ease-in-out, 0s);
		}
	}

	a {
		text-decoration: none;
	//	color: $black;
		white-space: nowrap;
	}
	a:hover{
	//	color: $blue;
        outline: none;
	}
	a:visited{
	//  color: $black;
	}

}

/* Small menu. */

// Button Menú
.menu-toggle{
//	font-size: 13px;
	font-family: $font__main;
	border: 0;
	border-radius: 0;
	background-color: transparent;
	margin-left: auto;
    &:hover {
		background-color: transparent;
    }	
	
}


// Hamburger and close icon animarion
 #nav-icon {
  margin-top: 6px;
  margin-left: auto;
  margin-right: auto;
  width: 27px;
  height: 21px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
} 
#nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: black;
  border-radius: 0px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 6px;
}

#nav-icon span:nth-child(4) {
  top: 12px;
}

// On click hamburger and close icon
.main-navigation.toggled {
	#nav-icon span {
	//	background: $green;
	}
	#nav-icon span:nth-child(1) {
  		top: 18px;
  		width: 0%;
  		left: 50%;
	}

	#nav-icon span:nth-child(2) {
  		-webkit-transform: rotate(45deg);
  		-moz-transform: rotate(45deg);
  		-o-transform: rotate(45deg);
  		transform: rotate(45deg);
	}

	#nav-icon span:nth-child(3) {
  		-webkit-transform: rotate(-45deg);
  		-moz-transform: rotate(-45deg);
  		-o-transform: rotate(-45deg);
  		transform: rotate(-45deg);
	}

	#nav-icon span:nth-child(4) {
  		top: 18px;
  		width: 0%;
  		left: 50%;
	}
}

@media screen and (max-width: $desktop ) {
	.main-navigation .primary-navigation {
		display: none;	
	}
	
}

// Mobile submenu

.handheld-navigation{  
    display:none;
    width: 100%;    
 //   background: $extra-light-grey;
    height: 100vh;
    overflow-y: auto;
    position: absolute;
    left: 0;
    top: 57px;
    bottom: 0;
    right: 0;
     z-index: 99;
    .toggled & {
       display: block;
    }
    ul {
       margin: 0;
    //  width: 100%; 
    }
    
    ul.menu{
       li {
          position: relative; 
          padding:24px 15px;
          padding-bottom: 0;
          button:after {
            background-image: url(/images/arrow-black.svg);
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
            content: " ";
            width: 18px;
            height: 15px;
            display: block;
          }
          button.toggled-on:after {
            -webkit-transform: rotate(180deg);
             -ms-transform: rotate(180deg);
              transform: rotate(180deg); 
             
           } 
       
        }
        
        li > a:hover {
        // color: $blue;
         }
        
        .sub-menu {
            position: inherit;
            height: 0;
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            @include anim-transition (all, 100ms, ease-in-out, 0s);
        }
        .sub-menu.toggled-on {
            max-height: 99999px;
            opacity: 1;
            height: 100%;
        }
        .sub-menu li{
           
        }
        .sub-menu li > a{
      //    color: $blue;
        }
    }
   .dropdown-toggle {
      background: transparent;
      position: absolute;
      top: 15px;
      right: 9px;
      display: block; 
      border: none;
      padding: 18px;
      @media screen and (min-width: $tablet ) {
        right: 21px;
      }
            
    }

}



/* Desktop menu. */

@media screen and (min-width: $desktop + 1) {
	.menu-toggle {
		display: none;
	}

	.main-navigation {
		display: flex;
		background-color: transparent;	
		.menu-primary-menu-container {
			display: flex;
			align-items: center;
			justify-content: flex-end;

		}
		ul.menu {
			display: flex;
			flex-flow: row wrap;
			
			& > li a{
			    padding: 15px;

			}
		     
 		 	li:last-child ul{
				right:0;
			}	
	
			li > ul.sub-menu {
				min-width: 200px;
				display:none;	
				background-color: white;
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
				z-index: 100;
    			opacity: 0;
    			padding:18px;
    			padding-left: 0;    			

    			a {
    		//		color: $blue;
    				
    			}
    			li.current-menu-item a {
    		//		color: $blue;
    				text-decoration: underline;
    			}
    			li:after{
    			  display: none;
    			}
    			// 3rt level sub-menu
    			li > ul.sub-menu{
                     right: 100%;
                     top: -6px;
                     @include anim-transition (all, 200ms, ease-in-out, 0s);
                     opacity: 0;                 
			    }
			    li:hover > ul.sub-menu{
			      opacity: 1;
			    }

    			
			}

			a { 
			//	font-size: 13px;
			}
			
			a:hover {

			}
			
			.current_page_item > a,
			.current-menu-item > a,
			.current_page_ancestor > a,
			.current-menu-ancestor > a {
			//	color: $blue;

			}

			li:hover > ul {
				position: absolute;
				left: auto;	
				@include anim-transition (all, 300ms, ease-in-out, 0s);
				opacity:1;
				display: block;	
								
				li {
					padding: 0rem;
					padding-top: 15px;
					padding-left: 18px;
					&:nth-child(1)  {padding-top:0;}
				}
				a {
					padding:0;


				}				
				
			}
		}
	}
}





//Others Nav Menus

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}





