:host {
  display: inline-block;
  transition: transform 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

#arrow {
  justify-content: center;
  display: flex;
  width: inherit;
  height: inherit;
  align-items: center;
}

:host(.open) {
  transform: rotate(180deg);
}

svg {
  width: inherit;
  height: inherit;
}
