:host {
  display: inline-block;
  overflow: hidden;
}

#banner {
  background-position: unset;
  width: 100vw;
  height: 70vw;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media (max-width: 450px) {
  #banner {
    height: 650px;
    background-position: left;
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  #banner {
    height: 50vw;
  }
}

@media (min-width: 768px) {
  #banner {
    background-position: center;
    background-repeat: no-repeat;
  }
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40%;
  width: 100vw;
  position: absolute;
  bottom: 0;
  background-color: var(--miles_primary_light);
  filter: opacity(0.7);
}

@media (min-width: 450px) {
  :host([variant='split']) .banner-content {
    height: 100%;
    width: 50vw;
    filter: none;
  }

  :host([variant='split']) .banner-content p {
    margin-bottom: 20vh;
  }

  :host([variant='split']) .banner-content h1 {
    max-width: 80%;
  }
}

.banner-content h1,
.banner-content p {
  color: var(--miles_secondary_four);
  max-width: 100%;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0 2rem;
  line-height: 120%;
}

.banner-content h1 {
  font-size: 32px;
  line-height: 120%;
}

.banner-content p {
  font-size: 1.5rem;
  margin-top: 0;
}

@media (min-width: 900px) {
  .banner-content h1,
  .banner-content p {
    max-width: 50%;
    margin-left: 4rem;
  }

  .banner-content h1 {
    font-size: 48px;
  }

  .banner-content p {
    font-size: 2rem;
    margin-top: 1rem;
  }
}
