:host {
  display: inline-block;
  color: inherit;
  background-color: inherit;
}

:host(:focus) {
  outline: none !important;
}

#wrapper {
  background-color: inherit;
  display: flex;
  flex-direction: column;
}

h2 {
  margin: 0;
  line-height: 33px;
}

a {
  color: inherit;
}

a:hover,
a:focus {
  color: var(--miles_link_color_hover);
  background-color: var(--miles_link_color_hover_bg);
  outline: 2px solid var(--miles_link_color_hover_bg);
}

}

#address,
#phone {
  margin-bottom: 1rem;
}
