:host {
  display: inline-block;
  color: inherit;
  background-color: inherit;
}

#wrapper {
  background-color: inherit;
  display: flex;
  flex-direction: column;
}

h2 {
  margin: 0;
  line-height: 33px;
}

a {
  color: inherit;
}

#address,
#phone {
  margin-bottom: 1rem;
}
