.splide {
  padding-bottom: 4rem;
}
.splide__pagination__page {
  scale: 1.9;
  background-color: var(--miles_secondary_four);
  margin: 12px;
  opacity: 1;
}
.splide__pagination .is-active {
  background-color: var(--miles_secondary_five);
}

figure {
  height: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}

figure img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
  -webkit-app-region: no-drag;
  filter: opacity(60%);
  animation: fadeIn 1s cubic-bezier(0.46, 0.03, 0.05, 0.99);
}
