/*--------------------------------------------------------------
## Colors
--------------------------------------------------------------*/
$black: #2b353f;
$red: #b8261c;
$dark-blue: #051d34;
$grey: #B5BBC4;

// transparent
$dark-red-90: rgba( 183, 35, 24, 0.9);
$dark-blue-90: rgba( 5, 29, 52, 0.9);


//Should we use mixin with a rgba opacity variable? HL 

$color__background-body: white;

$color__text-main: #000000;
$color__text-input: #666;

$color__link: $black;
$color__link-visited: $black;
$color__link-hover: $black;



/*--------------------------------------------------------------
## Typography
--------------------------------------------------------------*/
$font__main: 'Circular', sans-serif;
$font__header: 'Circular', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;


/*--------------------------------------------------------------
## Structure
--------------------------------------------------------------*/
$size__site-main: 100%;
$size__site-sidebar: 25%;
$size__primary-sidebar: 75%;

/*--------------------------------------------------------------
## Grid variables
--------------------------------------------------------------*/
$content-width: 800px;
$block_margin: 30px;

/*--------------------------------------------------------------
## Columns
--------------------------------------------------------------*/
$columns: (
	1: 100%,
	2: 50%,
	3: 33.33%,
	4: 25%,
	5: 20%,
	6: 16.66%,
	7: 14.28%,
	8: 12.5%,
	9: 11.11%
);

$columns__margin: 3.8%;




/*--------------------------------------------------------------
## Breakpoints
--------------------------------------------------------------*/

$mobile: 600px;
$tablet: 768px;
$desktop: 1025px;
$large: 1350px;

.test{
  color: white;
}


