@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:host {
  --miles_base_url: var(--miles-base-url);
  --miles_primary_dark: #b72318; /* Miles-rød */
  --miles_primary_light: #fcf8f3; /* Krem */
  --miles_secondary_one: #004047; /* Sjøgrønn */
  --miles_secondary_two: #78e8db; /* Turkis */
  --miles_secondary_three: #000000; /* Sort */
  --miles_secondary_four: #450d21; /* Burgunder */
  --miles_secondary_five: #ff303b; /* korall */

  --miles_link_color: #183f46;
  --miles_link_color_hover: var(--miles_secondary_two);
  --miles_link_color_hover_bg: var(--miles_secondary_one);

  --miles_link_color_ondark: #94e5db;
  --miles_link_color_ondark_hover: var(--miles_secondary_one);
  --miles_link_color_ondark_hover_bg: var(--miles_secondary_two);

  --miles_default_bg: var(--miles_primary_light);

  --miles_effect_shadow_low: 0 0 4px 0 #00000033;
  --miles_effect_shadow_high: 0 0 16px 0 #00000033;

  --content_width_max: 1440px;
  --content_width: clamp(320px, 80vw, var(--content_width_max));

  --default_padding: 1rem 0.625rem;
  --default_padding_large: 2rem 1.25rem;

  --vertical_spacing: 4rem;
  --vertical_spacing_large: 8rem;

  --header-height: 72px;

  --miles-h1: 2.5rem;
  --miles-h2: 3rem;
  --miles-h3: 1.25rem;

  --miles-line-height: 150%;

  --miles-h1-lineheight: calc(var(--miles-h1) * 1.5);
  --miles-h2-lineheight: calc(var(--miles-h2) * 1.5);
  --miles-h3-lineheight: calc(var(--miles-h3) * 1.5);

  --halve_margin_offset: calc(calc(100vw - var(--content_width)) / 2);
  --halve_margin_offset_large: calc(100vw - var(--content_width));
}
