:host {
  display: block;
  color: inherit;

  --maxWidth: 350px;

  margin-left: 10vw;
  margin-right: 10vw;
}

#header {
  display: flex;
  max-width: var(--content_width_max);
  margin: 2rem auto;
  flex-direction: column;
}

#fagblogg-teaser {
  box-sizing: border-box;
  width: 100%;
  max-width: var(--content_width_max);
  position: relative;
  min-height: 800px;
  margin: auto;
}
.bg {
  width: 100%;
  height: 50%;
  position: relative;
  top: 5rem;
}

.inner {
}

miles-info {
  position: relative;
  width: 300px;
}

::slotted(ul) {
  grid-template-columns: repeat(1, 100%) !important;
  display: grid !important;
  gap: 2rem !important;
}

@media (min-width: 768px) {
  ::slotted(ul) {
    grid-template-columns: repeat(3, calc(33% - 1rem)) !important;
    display: grid !important;
    gap: 2rem !important;
  }

  #header {
    flex-direction: row;
  }

  .podcast-teaser {
    height: 210px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  miles-info {
    left: unset;
    top: 1em;
  }

  .bg {
    width: 100%;
    height: 35%;
    position: absolute;
    top: 5rem;
  }
}

@media (min-width: 1025px) {
  miles-info {
    left: unset;
    width: unset;
  }
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.text {
  display: flex;
  flex-direction: column;
}

h2 {
  margin-bottom: 0.2rem;
  line-height: 150%;
  font-size: var(--miles-h2);
  color: var(--miles_secondary_four);
  flex-grow: 1;
}

@media (min-width: 769px) {
  h2 {
    margin-bottom: 1rem;
  }
}

p {
  font-size: 0.8em;
  color: var(--miles_primary_dark);
  margin: auto;
}

svg {
  height: 70px;
  width: 70px;
}

a {
  color: inherit;
  right: var(--halve_margin_offset_large);
  bottom: 1em;
  position: absolute;
  display: inline-block;
}
a::after {
  content: '→';
}
