.site {
	position: relative;
	display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}
#content {
    display: flex;
	flex-direction: column;
    flex: 1 0 auto;
}
.site-content{

}
.content-area-full{
	width: $size__site-main;
}

.content-area {
	width: $size__site-main;
}

.site-main {
	margin: 0;
}

.site-content .widget-area {
	overflow: hidden;
	width: $size__site-main;
	@media screen and (min-width: $tablet) {
		width: $size__site-sidebar;
	}
}

.site-footer {
	clear: both;
	width: $size__site-main;
}
iframe {
    border: 0;
}
