.content-area {

	width: $size__site-main;
}

.site-main {

}

.site-content .widget-area {

	overflow: hidden;
	width: $size__site-sidebar;
}

.site-footer {
	clear: both;
	width: $size__site-main;
}
