button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $red;
	background: $red;
	color: rgba(0, 0, 0, .8);
	line-height: 1;

	&:hover {
		border-color: blue;
	}

	&:active,
	&:focus {
		outline: 0px solid transparent;
	}
}


input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid red;
	border-radius: 3px;
	padding: 3px;

	&:focus {
		color: black;
	}
}

select {
	border: 1px solid black;
}

textarea {
	width: 100%;
}
