:host {
  display: block;
  width: 100%;
  --background-color: var(--miles_secondary_four);
  --text-color: var(--miles_primary_light);
  --border-radius: 30px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.image-block {
  --textblock-height: 100%;

  background: var(--background-color);
  border-radius: var(--border-radius);
  color: var(--text-color);
  /* margin-bottom: 3.5rem; */
  position: relative;
  width: 100%;

  $this: &;

  @media (min-width: 768px) {
    height: var(--textblock-height);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    &--reverse {
      flex-direction: row-reverse;
    }
  }

  &__image {
    flex: 0 0 50%;
    position: relative;
    z-index: 1;

    img {
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
      display: block;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      width: 100%;

      @media (min-width: 768px) {
        border-top-left-radius: 0;
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);

        #{$this}--reverse & {
          border-radius: var(--border-radius) 0 0 var(--border-radius);
        }
      }
    }
  }

  &__content {
    align-content: center;
    background: var(--background-color);
    border-radius: var(--border-radius);
    color: var(--text-color);
    padding: 1rem;
    position: relative;
    margin-top: calc(-1 * var(--border-radius));
    z-index: 2;

    @media (min-width: 768px) {
      display: flex;
      min-height: 100%;
      left: 0;
      margin: 0;
      padding: 1.5rem;
      position: absolute;
      top: 0;
      width: calc(50% + var(--border-radius));

      #{$this}--reverse & {
        left: auto;
        right: 0;
      }
    }

    .centering {
      align-self: center;
    }
  }
}
