.site-footer {
   background-color: $miles-red;
   color: white;
   margin-top: $block-margin;
   padding-top: $block-margin;
   text-align: left;
   
   a:link,
   a:hover,
   a:focus,
   a:visited {color: white !important;}
   
   a:hover{ text-decoration: underline; }
   
   .footer-widgetarea-container {
		margin: 0 $base_margin * 2;
		
		@media screen and (min-width: $tablet) {
		  max-width: $col_10;
          margin: 0 auto;
        }
   }

   .footer-contact-wrapper {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: $grid-gap;
      
      @media screen and (min-width: $large) {        
        grid-template-columns: repeat(10, 1fr);
      }

   }
   .footer-info-widgetarea {
     display: flex;
     justify-content: space-between;
     padding-top: $base-margin * 2;
     margin: 0 $base_margin;
     
     @media screen and (min-width: $desktop) {
		max-width: $col_10;
        margin: $block-margin auto 0;
      }
   }
   
   .widget_text {
     grid-column: span 6;
     
     @media screen and (min-width: $tablet) { 
       grid-column: span 6;
     }
     
     @media screen and (min-width: $tablet) {      
       grid-column: span 3;
     }
     
     @media screen and (min-width: $desktop) {  	
       grid-column: span 2;
      }
   }
   
   .mks_social_widget {
     grid-column: span 12;
     
     @media screen and (min-width: $large) {   
        justify-self: end;
        grid-column: last-line / span 3;
     }
   }
   
   a {
      color: white;
      text-decoration: none;
   }
   
   ul.mks_social_widget_ul {
      margin:0;
      padding-left: 0;
      
      a {
        background-color: /*#cc211d #a51b17*/ white;
        //box-shadow: 0 0 28px rgba(0,0,0, 0.2);
        
        &:before {
          color: $miles-red;
        }
      }      
  }
}