// Styles are moved here to *not* include them in the Gutenberg
// editor, but front-end only - HL 07.05.2020


/*--------------------------------------------------------------
## Block vertical margins
--------------------------------------------------------------*/

*[class*='wp-block'], 
*[class^='wp-block'],
*[class*='custom-block'], 
*[class^='custom-block'] {
	margin-top: $base-margin * 2;
	margin-bottom: $base-margin * 2;
	
	@media (min-width: $tablet) {
		margin-top: $base-margin * 4;
		margin-bottom: $base-margin * 4;
	}
		
	@media (min-width: $desktop) {
		margin-top: $base-margin * 6;
		margin-bottom: $base-margin * 6;
	}
	&:nth-child(1){margin-top: 0;}


}
.has-background{
  @media (max-width: $tablet) {
     margin-left: -14px;
     margin-right: -14px;
    }
 }
