
.archive,
.blog {

	header {
		grid-column: 1 / -1;
	}
  
	.site-main {      
		margin: auto;
		max-width: $col_11;
    
		@media (min-width: $tablet) { 
			max-width: $col_10;
			display: grid;    
			grid-template-columns: repeat(2, 1fr);
			grid-column-gap: $grid-gap;
		}
    
		@media (min-width: $desktop) {      
     		display: grid; 
     		grid-template-columns: repeat(3,1fr);
     		grid-column-gap: $grid-gap;	
		}
		
		figure { //reset user agent CSS
			margin: $base-margin 0;
			
			img {width: 100%}
		}
	}
	
	article { // for IE
    	width: 100%;
    	clear: both;
   		margin-left: 0;
    	
    	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
       		float: left;
       		margin-left: 2.7397260274%;
       		width: 22.9452054795%;
    }
  }
}

