body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.

}

p {
	margin-block-start: calc(28em / 19);
	margin-block-end: calc(28em / 19);
}

// List
ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
	.wp-block-pb-accordion-item &{
	  padding-left:0;
	  margin: 0;
	}
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 30px;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 30px 30px;
}

// hr
hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 30px;
}


/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto; // Make sure images are scaled correctly.
	max-width: 100%; // Adhere to container width.
}

figure {
	margin: 1em 0; // Extra wide images within figure tags don't overflow the content area.
}


table {
	margin: 0 0 30px;
	width: 100%;
}

