
/*--------------------------------------------------------------
## Colors
--------------------------------------------------------------*/
$black: #2b353f;
$miles-red: #b8261c;
$dark-blue: #051d34;
$silver: #B5BBC4;
$silver-light : #e5eBf4;
$white: white;

// transparent
$dark-red-90: rgba( 183, 35, 24, 0.9);
$dark-blue-90: rgba( 5, 29, 52, 0.9);
$white-90: rgba( 255, 255, 255, 0.9);
$miles-red-90: rgba( 184, 38, 28, 0.8);
$miles-red-60: rgba( 184, 38, 28, 0.6);

// From new underscores
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $miles-red; //royalblue
$color__link-visited: $miles-red; //purple
$color__link-hover: $miles-red; //midnightblue
$color__text-main: #404040;


$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

// Brand Colors
$brand_colors: (
	'miles-red'	: #b8261c,
	'silver'	: $silver,
	'silver-light' : $silver-light
);

$base-color: $black;
$border-color: $silver;

/*--------------------------------------------------------------
## Typography
--------------------------------------------------------------*/
$font__main: 'Circular', sans-serif;
$font__header: 'Circular', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__size-body: 18.6666px;
$font__line-height-body: 28px;
$font__line-height-pre: 1.6;



/*--------------------------------------------------------------
  ## Site strucure
-------------------------------------------------------------- */
$size__site-main: 100%;
$size__site-sidebar: 25%;

/*--------------------------------------------------------------
  ## Site margins and paddings
-------------------------------------------------------------- */
$base-margin: 14px;
$block-margin: $base-margin * 4;


$wrap_edge: $base-margin;
//$base-padding:  $base-margin * 2;


$grid: grid;
$grid-width: 1168px;
$grid-gap: $base-margin * 2;


/*$block-padding-desktop:  140px 8.333%;
$block-padding-mobile:  70px 4.1666%;

$block-vertical-margin: 140px;*/


/*--------------------------------------------------------------
  ## Columns
-------------------------------------------------------------- */


$columns: (
	1: 100%,
	2: 91.6666%,
	3: 83.3333%,
	4: 74.9999%,
	5: 66.6666%,
	6: 58.3333%,
	7: 50%,
	8: 41.6666%,
	9: 33.3333%,
	10: 24.9999%,
	11: 16.666%,
	12: 8.333%,
);

$columns__margin: 4.1666%;
$col_05: 4.1666%;
$col_1: 8.333%;
$col_2: 16.666%;
$col_3: 25%;
$col_4: 33.3333%;
$col_5: 41.6666%;
$col_6: 50vw;
$col_7: 58.3333%;
$col_8: 66.6666vw;
$col_9: 75%;
$col_10: 83.3333vw;
$col_11: 91.6666%;
$col_12: 100%;

// Content
$content-width: $col_8;
$column-gap: 30px;

/*--------------------------------------------------------------
## Breakpoints
--------------------------------------------------------------*/

$mobile: 600px;
$tablet: 768px;
$desktop: 1025px;
$large: 1350px;