/********** Typography ****/

.editor-post-title {
	font-family: $font__header;
	font-weight: 700;
}

.editor-post-title__input {
//	color: $white;
	font-family: $font__header;
	font-weight: 700;


	&:focus {
	//	color: $white;
	}
}


/* Post title width */
.editor-post-title__block.wp-block {
	max-width: $content-width;
	/* Post title styling */
	.editor-post-title__input {
	}
}




// Custom corporative colors classes for editor

.has-black-color {
	color: $black;
}
.has-black-background-color {
	background-color: $black;
}

.has-miles-red-color {
	color: $miles-red;
}

.has-miles-red-background-color {
	background-color: $miles-red;
	.large-banner-block & {
	   background-color: $dark-red-90;
	}
}

.has-dark-blue-color {
	color: $dark-blue;
}
.has-dark-blue-background-color {
	background-color: $dark-blue;
	
	.custom-block-large-banner & {
	   background-color: $dark-blue-90;
	}
}

.has-silver-color {
	color: $silver;
}
.has-silver-background-color {
	background-color: $silver;
}

.has-silver-light-color {
	color: $silver-light;
}
.has-silver-light-background-color {
	background-color: $silver-light;
}

.has-white-color {
	color: #fff;
}
.has-white-background-color {
	background-color: #fff;
	.large-banner-block & {
	  background-color: $white-90;
	}

}
.has-tranparent-color {
	color: #fff;
}
.has-tranparent-color {
	background-color: transparent;
}

// Custom corporative Buttons


/* Button block
--------------------------------------------- */

.wp-block-button__link {


	&:hover {
		text-decoration: none;
	}

	&:not(.has-text-color) {
		color: white;
		&:hover {
			color: white;
		}
	}

	&:not(.has-background) {
	//	background-color: $miles-red;
		&:hover,
		&:focus {
			// background-color: darken( $default, 20% );
		}
	}
}

