/******** Blocks core ******/


/* Button
--------------------------------------------- */

.wp-block-button {	
	margin: $base-margin * 2 auto !important;
}

.wp-block-button__link {
display: inline-block;
		margin-block-start: 0.5em;
		margin-block-end: 1.4em;
		padding: $base-margin $base-margin * 2;
		//color: white;
		text-decoration: none;
		font-size: 20px;
		line-height: 28px;
		border-radius: 42px;
		border: none;
		box-shadow: none;
		color: inherit;
		cursor: pointer;
		margin: 0;
		text-align: center;
		overflow-wrap: break-word;
}

/* Cover
--------------------------------------------- */

.wp-block-cover__inner-container > *:last-child {margin-bottom: 0 !important}

/* Nested columns - reusable block
--------------------------------------------- */
@media (min-width: $tablet) {
    .wp-block-column:not(:first-child) {
        margin-left: 0;
    }
}
// this class removes the margin-left that breaks strange on tablet portview.
@media (min-width: $mobile) and (max-width: $tablet){
  .wp-block-column:nth-child(2n) {
    margin-left: 0; 
  }
}


// Separator
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 100%;
}


// Fix space between image and caption
.wp-block-image {
	line-height: 0;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 100%;
}

.block-library-list ol,
.block-library-list ul {
	margin-left: 0;
}

// Interactive blocks to disable
.block-post-listing,
.block-region-destinations,
.block-quick-links {
	position: relative;

}

.block-editor-rich-text__editable a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

}

/*
* From AE starter theme - for testing (tweaking?) purposes - HL
*
*/


/* Blockquote
--------------------------------------------- */

blockquote,
blockquote.wp-block-quote {
	background: transparent url(../icons/utility/quote.svg) no-repeat top left;
	background-size: 36px auto;
	text-align: left;
	border-left: 2px solid $miles-red;
	margin: $base-margin * 2 0 !important;
	padding: $base-margin * 6 $base-margin * 2;
	
	&.floatleft {
		max-width: 50%;
		float: left;
		margin-right: $base-margin * 2;
	}
	
	&.floatright {
		max-width: 50%;
		float: right;
		margin-left: $base-margin * 2;
	}

	p {
		margin: 0;
		font-size: 23px;
		line-height: 28px;
		font-style: normal;
		font-weight: 700;
		color: black;
	}
	
	cite,
	.wp-block-quote__citation {
		color: $base-color;
		display: block;
		font-size: 14px;
		font-weight: 400;
		margin-top: 12px;
		opacity: .5;
		text-transform: uppercase;
		font-style: normal;
	}
	
	&.is-style-large {
		margin: $base-margin * 4 0 !important;
		border-left: 0;
		padding: 0;
		background: transparent;
		
		p {
			font-size: 28px;
			line-height: 42px;
		//	font-weight: 400;
			font-style: normal;
			color: black;
		}
		
		cite,
		.wp-block-quote__citation {
			font-size: 14px;
		}
	}

	

    p:last-of-type {
        margin-bottom: 0;
    }

}

/* Separator
--------------------------------------------- */

.wp-block-separator,
hr {
	background: transparent;
	border: none;
	width: 100%;
	height: 32px;
	position: relative;

	&::before {
		background: $border-color;
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		position: absolute;
		top: 50%;
		margin-top: -.5px;
	}
}

/* Image
--------------------------------------------- */

img {
	display: block;
	max-width: 100%;
	height: auto;

	&.alignleft {
		float: left;
		margin: 0 $block-margin $block-margin 0;
	}

	&.alignright {
		float: right;
		margin: 0 0 $block-margin $block-margin;
	}

	&.aligncenter {
		margin-left: auto;
		margin-right: auto;
	}

}

.wp-block-image {

	img {width: 100%;}

	figcaption {
		//color: $black;
		text-align: left;
		font-size: 14px;
		font-style: normal;
		margin-top: $base-margin;
		line-height: 1.5;
	}
}

.wp-block-cover,
.wp-block-cover-image {
    position: relative;
    min-height: 420px; //fitting the grid
    height: 100%;
    /* width:100%; */
    width: initial; //overriding core
}

/* Tables
--------------------------------------------- */

.wp-block-table  {

    border-collapse: collapse;
    width: 100%;

	td, th {
		padding: .5em;
	    border: 1px solid;
	}
}

/* Color Options
--------------------------------------------- */

@each $name, $color in $brand_colors {

	.has-#{$name}-color {
		color: $color !important;
	}

	.has-#{$name}-background-color {
		background-color: $color !important;
	}
}

/* Group
--------------------------------------------- */

.wp-block-group {

//some media queries and styles for larger screens

	//.wp-block-group__inner-container {
	//	max-width: $content_width;
	//	margin-left: auto;
	//	margin-right: auto;
		// @include clearfix; -we dont have this?

	//	& > *:last-child {
	//		margin-bottom: 0;
	//	}
	//}

	// Dark background
	//&.has-background:not(.has-grey-background-color, .has-white-background-color)
	&.has-background .wp-block-group__inner-container{
	    @media (max-width: $tablet) {
	        margin-left: $base_margin * 2;
            margin-right: $base_margin * 2;
        }
	  }
	
	&.has-miles-red-background-color,
	&.has-dark-blue-background-color,
	&.has-black-background-color {
		color: $white;


		h1, h2, h3, h4, h5, h6, p {
			color: $white;
		}
		  
	   .plus-icon .st0{
	     stroke: white;
	   }
	   .accordion-content{  
          border-top: solid 1px white;
          &:last-child{
            border-bottom: solid 1px white;
          }	
	  }
	}
}


/* Column blocks
--------------------------------------------- */
@media (max-width: 781px) and (min-width: 600px){
  .wp-block-column .wp-block-column {
    flex-basis: initial!important;
    flex-grow: initial;
   }
}

/* Embed blocks
--------------------------------------------- */
.wp-block-embed__wrapper {
    position: relative;
   &:before {
      content: "";
      display: block;
      padding-top: 50%;
    }

    iframe{
       position: absolute;
       top: 0;
       right: 0;
       bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
}
.wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper:before {
    padding-top: 56.25%;
}