:host {
  display: block;
  color: inherit;
  width: inherit;
  height: inherit;
}

#blog-card-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
  border-radius: 1.875rem;
  overflow: hidden;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
}

a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

#group {
  background-color: #f1d4d2; /* global variable? C Milesrød 20 (from Figma) */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--miles_secondary_four);
  height: 12rem;
  box-sizing: border-box;
}

figure {
  margin: 0;
  display: block;
  overflow: hidden;
  height: 23rem;
}

::slotted(img),
img {
  display: block;
  object-fit: cover;
  width: 100%;
  background-color: #ffffff;
  height: 100%;
}

#updated {
  display: none;
}
