:host {
  display: block;
  color: inherit;
  width: inherit;
  height: inherit;
}

#blog-card {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

slot[name='title']::slotted(*) {
  font-size: 1.5rem;
  margin: 0;
}

a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.text {
  background-color: var(--miles_secondary_four);
  color: var(--miles_primary_light);
  padding: 2rem;
  height: 110px;
  display: flex;
  flex-direction: column;
}

slot[name='title']::slotted(*) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

slot[name='meta'] {
  display: block;
  flex-grow: 1;
}

#updated {
  display: none;
}

::slotted(figure) {
  margin: 0;
  aspect-ratio: 4/5;
  overflow: hidden;
}
